*,*::before,*::after{
  box-sizing: border-box;
  transition: .5s;
}
body{
  font-family: 'Noto Sans TC', sans-serif;
}
.container{
  margin: auto;
}

#top a{
  font-size: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  line-height: 120px;
  display: block;
  text-shadow: 10px 10px 15px #333;
  background-image: url(../images/0401.jpg);
}

#marquee{
  height: 30px;
  width: 100%;
  background-image: url(../images/0402.jpg);
  font-size: 19px;
  color: #00f;
  line-height: 30px;
}

#content{
  background-image: url(../images/0402.jpg);
}

#content iframe{
  width: 100%;
  height: 540px;
}

#footer{
  background-color: #660;
  color: #fff;
  height: 78px;
  line-height: 2;
}

#footer a{
  color: #fff;
  text-decoration: none;
}

#footer a:visited{
  color:#f99;
}


@media(min-width:1200px){
  .container{
    max-width: 1024px;
  }
  #top{
    height: 120px;
    width: 1024px;
  }
  #top a{
    font-size: 52px;
  }
  #content{
    height: 540px;
    width: 1024px;
  }
  #content iframe{
    height: 540px;
    width: 1024px;
  }
  #footer{
    width: 1024px;
    height: 78px;
  }
}